@page
@model Emprega.Pages.Vaga_Beneficio.CreateModel

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<h4>Vaga Beneficio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VagaBeneficio.IdVaga" class="control-label"></label>
                <select asp-for="VagaBeneficio.IdVaga" class ="form-control" asp-items="ViewBag.IdVaga"></select>
            </div>
            <div class="form-group">
                <label asp-for="VagaBeneficio.IdBeneficio" class="control-label"></label>
                <select asp-for="VagaBeneficio.IdBeneficio" class ="form-control" asp-items="ViewBag.IdBeneficio"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar para Vaga Benefício</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
