@page
@model Emprega.Pages.Idioma_candidato.CreateModel

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar novo idioma candidato</h1>

<h4>Idioma candidato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdiomaCandidato.IdIdioma" class="control-label"></label>
                <select asp-for="IdiomaCandidato.IdIdioma" class ="form-control" asp-items="ViewBag.IdIdioma"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdiomaCandidato.Nivel" class="control-label"></label>
                <input asp-for="IdiomaCandidato.Nivel" class="form-control" />
                <span asp-validation-for="IdiomaCandidato.Nivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
