@page
@model Emprega.Pages.Empresa.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Empresa.RazaoSocial" class="control-label"></label>
                <input asp-for="Empresa.RazaoSocial" class="form-control" />
                <span asp-validation-for="Empresa.RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.NomeFantasia" class="control-label"></label>
                <input asp-for="Empresa.NomeFantasia" class="form-control" />
                <span asp-validation-for="Empresa.NomeFantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.Cnpj" class="control-label"></label>
                <input asp-for="Empresa.Cnpj" class="form-control" />
                <span asp-validation-for="Empresa.Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.Cep" class="control-label"></label>
                <input asp-for="Empresa.Cep" class="form-control" />
                <span asp-validation-for="Empresa.Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.Endereco" class="control-label"></label>
                <input asp-for="Empresa.Endereco" class="form-control" />
                <span asp-validation-for="Empresa.Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.Numero" class="control-label"></label>
                <input asp-for="Empresa.Numero" class="form-control" />
                <span asp-validation-for="Empresa.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.Complemento" class="control-label"></label>
                <input asp-for="Empresa.Complemento" class="form-control" />
                <span asp-validation-for="Empresa.Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.Bairro" class="control-label"></label>
                <input asp-for="Empresa.Bairro" class="form-control" />
                <span asp-validation-for="Empresa.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.IdCidade" class="control-label"></label>
                <select asp-for="Empresa.IdCidade" class ="form-control" asp-items="ViewBag.IdCidade"></select>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.OcultarDados" class="control-label"></label>
                <input asp-for="Empresa.OcultarDados" class="form-control" />
                <span asp-validation-for="Empresa.OcultarDados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.Site" class="control-label"></label>
                <input asp-for="Empresa.Site" class="form-control" />
                <span asp-validation-for="Empresa.Site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.DataAbertura" class="control-label"></label>
                <input asp-for="Empresa.DataAbertura" class="form-control" />
                <span asp-validation-for="Empresa.DataAbertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.IdAreaAtuacao" class="control-label"></label>
                <select asp-for="Empresa.IdAreaAtuacao" class ="form-control" asp-items="ViewBag.IdAreaAtuacao"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
