@page
@model Emprega.Pages.Estado_civil.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>EstadoCivil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EstadoCivil.Nome" class="control-label"></label>
                <input asp-for="EstadoCivil.Nome" class="form-control" />
                <span asp-validation-for="EstadoCivil.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary mt-5" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
